---
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  return [
    {
      params: { id: "EmailSent" },
      props: {},
    },
  ];
}

---

<Layout>
  <section class="bg-section-primary w-full h-full">
    <div
      class="w-full mx-auto flex flex-col justify-center items-center gap-4 p-4 self-baseline text-white bg-section-primary"
    >
      <h2
        class="pt-10 text-3xl text-center border-b-2 pb-2 border-b-tertiary-400"
      >
        Email Sent
      </h2>
      <img
      src="/src/assets/emailSent.gif"
      alt="Email Sent"
      class="w-[150px] h-[150px]" 
      />
      <p class="text-center">
        Thank you for your message! I will get back to you as soon as possible.
      </p>
      <a
        href="/#home"
        class="border-tertiary-200 p-3 rounded-3xl text-md font-bold self-center bg-tertiary-400 hover:bg-tertiary-200 transition-colors duration-300"
        >Back to Home</a
      >
    </div>
  </section>
</Layout>
