---
const {text} = Astro.props

---

<span class="inline-flex items-center rounded-lg bg-transparent px-2 py-1 text-xs font-medium text-tertiary-400 ring-1 ring-tertiary-400-500/10 ring-inset">{text}</span>