---
import Navigation from "./Navigation.astro";
import AnchorWithIconAndLabel from "./AnchorWithIconAndLabel.astro";
import MobileNavigation from "./MobileNavigation";
---

<!-- ---Home -->
<section id="home" >
  <!-- ----nav -->
  <Navigation />

  <!-- nav mobile -->
  <div class="absolute z-10">
   <MobileNavigation client:load />
  </div>

  <!-- ----hero -->
  <section>
    <div>
      <img
        src="/src/assets/hero-image.jpg"
        alt="hero image"
        class="w-full h-screen object-cover object-center"
        loading="lazy"
      />
    </div>
    <!-- ----layer blue -->
    <div
      class="absolute top-0 left-0 w-full h-full bg-section-secondary opacity-80"
    >
    </div>

    <!-- information -->
    <article class="absolute top-15 lg:top-35 lg:left-10 w-full lg:w-1/2">
      <div class="flex flex-col justify-center gap-5 lg:ml-10 m-4">
        <h1 class="text-3xl text-white font-bold">
          <span class="text-tertiary-200">Hi, I'ts me</span>
          <br />
          <span class="font-mono text-3xl inline-block">Anthony Ruiz</span>
        </h1>
        <h2 class="text-4xl text-white font-semibold">
          And I'm a <span class="text-tertiary-200">Frontend web developer</span
          >
        </h2>
        <p class="text-white text-lg font-semibold hidden lg:block">
          I am a passionate Frontend Developer with a strong focus on creating
          user-friendly and visually appealing web applications. I am always
          eager to learn and grow in the field of web development.
        </p>
        <p class="text-white text-lg font-semibold lg:hidden">
          I am a passionate Frontend Developer with a strong focus on creating
          user-friendly and visually appealing web applications.
        </p>
        <!-- social media icons -->

        <div
          class="flex gap-10 justify-center lg:gap-5 lg:w-full lg:justify-start"
        >
          <AnchorWithIconAndLabel
            href="https://www.linkedin.com/in/anthonyruiz1818/"
            iconName="Linkedin"
            label="Linkedin"
          />
          <AnchorWithIconAndLabel
            href="https://github.com/Anth1818"
            iconName="Github"
            label="Github"
          />
          <AnchorWithIconAndLabel
            href="https://discord.com/channels/@me"
            iconName="Discord"
            label="Discord"
          />
        </div>
      </div>
      <div class="flex lg:w-full justify-center lg:justify-start mt-10 lg:mt-2">
        <a
          class="w-[250px] p-2 m-8 rounded-3xl bg-tertiary-400 text-white font-semibold text-center block text-lg hover:bg-tertiary-200 transition duration-300 ease-in-out"
        >
          Download CV
        </a>
      </div>
    </article>
  </section>
</section>

<style>
  .font-logo {
    font-family: "fa-brands-400", cursive;
    font-size: 3rem;
  }
</style>
