---
import { Icon } from "astro-icon/components";
import LayoutSection from "../layouts/LayoutSection.astro";
import SoftSkillsCard from "./SoftSkillsCard.astro";
---

<LayoutSection
  title="My Soft Skills"
  colorSection="section-secondary"
  id="soft-skills"
>
  <div class="w-full h-full flex flex-wrap justify-center">
  <SoftSkillsCard iconCardName="TeamWork" titleCard="Teamwork">
    I am a team player who values collaboration and communication. I believe
    that working together leads to better results and a more enjoyable work
    environment.
  </SoftSkillsCard>
  <SoftSkillsCard
    iconCardName="GoodCommunication"
    titleCard="Good Communication"
  >
    The communication is the key to success in the tech world. I always try to
    be clear and concise in my interactions, ensuring that ideas are effectively
    shared and understood.
  </SoftSkillsCard>
  <SoftSkillsCard iconCardName="light-bulb" titleCard="Troubleshooting">
    I have a knack for identifying and solving problems. I enjoy the challenge
    of debugging and finding solutions to complex issues.
  </SoftSkillsCard>
  </div>
</LayoutSection>
